body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
  background-color: hsl(0, 0%, 99.33%);

}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
img {
  content-visibility: auto;
  
}
* {
  box-sizing: border-box;
  
}
